<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Patrick Koperwas" />
   <meta name="description" content="Breakfast integrates modern Javascript tooling into your Rails project. Get support for ES6 syntax & modules, live reload for CSS, JS, & HTML, and NPM support. Be up and running on the latest frontend framework in minutes.">

  <title>Breakfast</title>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href='https://fonts.googleapis.com/css?family=Nunito:300,700' rel='stylesheet' type='text/css'>
</head>
