html, body {
  background-color: #f7f6f3;
}

html, body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $purple;
  font-weight: 300;
}

.page-content {
  width: 790px;
  margin: 64px auto 256px auto;
}

.homepage-hero {
  border-bottom: 1px solid $red;
  margin-bottom: 16px;
  padding-bottom: 16px;
  text-align: center;

  h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 0;
  }

  small {
    display: block;
    font-size: 12px;
  }
}

.homepage-menu {
  border-bottom: 1px solid $red;
  margin: 0 auto 32px 0;
  padding-bottom: 16px;
  text-align: center;

  a {
    cursor: pointer;
    font-size: 18px;
    margin: 0 16px;
    padding: 6px;

    &:hover {
      background-color: $red;
      border-radius: 5px;
      color: #fff;
      text-decoration: none;
    }
  }
}

.intro-video {
  padding: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  iframe {
    border: 2px solid $purple;
  }
}

.feature-example {
  display: flex;
  margin-bottom: 24px;

  .description {
    width: 50%;
  }

  img {
    border: 1px solid #ccc;
  }

  .example {
    margin-left: 2%;
    width: 48%;
    min-width: 48%;
  }
}

.footer {
  margin-top: 64px;
  padding-top: 16px;
  border-top: 1px solid $red;
  display: flex;
  font-size: 12px;

  .links {
    margin-left: auto;
  }

  a {
    text-decoration: none;
    color: $purple;

    &:hover {
      color: $blue;
    }
  }
}

.header-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  border-bottom: 1px solid $red;
  padding-bottom: 16px;

  a {
    font-size: 18px;
    font-weight: 700;
    color: $purple;
  }

  small {
    font-size: 11px;
    font-family: monospace;
  }
}

.docs {
  display: flex;
}

.docs-nav {
  width: 150px;
  min-width: 150px;

  .seperator {
    font-weight: 700;
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    font-size: 13px;
    margin: 16px 0;

    > li {
      margin: 0 0 4px 0;
    }
  }

  .current {
    color: $red;
    text-decoration: underline;
  }
}

.doc-content {
	width: 640px;
	max-width: 640px;
}

.footer {
}
